* {
    font-family: "Inter", sans-serif;
}

body{
    background-color: #171D20;
}

.nav-total {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 11vh;
    /* border: 1px solid red; */
}

.info-user{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    height: 11vh;
    /* border: 1px solid red; */
}

.foto-user{
    background-color: #2A5277;
    height: 75px;
    width: 75px;
    border-radius: 70px;
}

.msg-user{
    display: flex;
    font-family: "Inter", sans-serif;
    height: 50px;
    width: 80px;
    font-size: 22px;
    color: #FFFFFF;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70vw;
    height: 6vh;
    background-color: rgba(83, 83, 83, 0.39);
    border-radius: 50px;
    align-items: center;
}

.nav-bar span{
    color: #FFFFFF;
    font-size: 15px;
}

.btn-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 6vw;
    height: 6vh;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #2A5277;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    height: 85vh;
    /* border: 1px solid red; */
}



.kpis{
    display: flex;
    height: 80vh;
    width: 20vw;
    /* border: 1px solid red; */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.escolha-opcoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18vw;
    height: 30vh;
    /* border: 1px solid red; */
    background-color: rgba(83, 83, 83, 0.39);
    border-radius: 10px;
}

.espacamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 17vw;
    height: 20vh;
    /* border: 1px solid red; */
}

.espacamento span {
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 500;
    /* letter-spacing: 2px */
}

.linha {
    width: 15vw;
    height: 0.5px; /* menor que 1px */
    background-color: white;
}

.escolha-kpi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 18vw;
    height: 22vh;
    /* border: 1px solid red; */
    background-color: rgba(83, 83, 83, 0.39);
    border-radius: 10px;
}

.info-kpi {
    color: #FFFFFF;
    font-size: 22px;
}

.numeros-kpi{
    color: #FFFFFF;
    font-size: 50px;
}

.ajuste-pesquisa{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid orange; */
    width: 48vw;
}





.agencias {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(83, 83, 83, 0.397);
    border-radius: 10px;
    width: 75vw;
    height: 80vh;
    overflow: overlay;
    /* border: 1px solid red; */
}

::-webkit-scrollbar {
    display: none;
}

.pesquisar {
    display: flex;
    width: 70vw;
    height: 15vh;
    align-items: center;
}

.pesquisar img {
    filter: contrast(1.9);
    cursor: pointer;
}

.icon-dash{
    color: #FFF;
    font-size: 50px;
}

.input-pesquisar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    width: 24%;
    border-radius: 10px;
}

.input-pesquisar input{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 24px;
}

.input-pesquisar input:focus-visible {
    outline: none;
}

.input-icon {
    cursor: pointer;
}

.filtros{
    display: flex;
    gap: 10px;
    padding: 8px;
}

.filtro{
    height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-size: 17px;
}

.delimitar{
    display: flex;
    /* border: 1px solid red; */
    width: 70vw;
    height: 82vh;
    flex-wrap: wrap;
    overflow: overlay;
    flex-direction: row;
    scrollbar-width: none; 

}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    gap: 30px 30px;
}

.cards {
    background-color: white;
    border-radius: 10px;
    width: 29%;
    height: 50%;
    padding: 10px 10px;
    /* border: 1px solid red; */
}

.img-agencia {
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 40px;
}

.perfil-agencia {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20%;
    font-size: 19px;
}

.img-edit {
    height: 40px;
    width: 40px;
    cursor: pointer;
}


.info-agencia {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 70%;
}

#codigo,
#telefone,
#email {
    font-weight: 400;
}

.fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal, .modal-edit {
    display: flex;
    justify-self: center;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%; /* deixa o canto superior esquerdo no meio*/
    transform: translate(-50%, -50%); /* move metade da largura e altura para "trás", deixando no meio*/
    padding: 8px;
    width: 60vw;
    height: 90vh;
    flex-direction: column;
    border-radius: 10px;
    font-size: 24px;
    background-color: white;
    z-index: 20;
    /* border: 1px solid red; */
}

.modal-edit-componente {
    display: flex;
    justify-self: center;
    align-self: center;
    position: absolute;
    left: 26%;
    bottom: 3%;
    padding: 48px;
    width: 40vw;
    height: 80vh;
    flex-direction: column;
    border-radius: 10px;
    font-size: 24px;
    background-color: white;
    z-index: 30;
    /* border: 1px solid red; */
}

.modal-fechar {
    display: flex;
    flex-direction: row-reverse;
}

.modal-fechar span {
    cursor: pointer;
    font-weight: bolder;
}

.modal-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    height: 80vh;
    width: 100%;
}

.modal-infos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modal-infos-cad {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modal-infos-cad input{
    width: 50%;
    height: 56px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.25);
    /* border: 1px solid red; */
}

.modal-infos input{
    width: 50%;
    height: 56px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.25);
    /* border: 1px solid red; */
}

.select-empresa {
    width: 20vw;
    height: 56px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.25);
    /* border: 1px solid red; */
}

.modal-infos input, #slt_componentes {
    width: 10vw;
    height: 56px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal-infos-edt {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modal-infos-edt input {
    width: 55%;
    height: 56px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.25);
    /* border: 1px solid red; */
}

.modal-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7vh;
    border-radius: 10px;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    /* border: 1px solid red; */
    cursor: pointer;
}

.modal-botao button{
    width: 30%;
    height: 7vh;
    border-radius: 10px;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: #D9D9D9;
    /* border: 1px solid red; */
    cursor: pointer;
}

.icon-deletar {
    width: 40px;
    height: 40px;
    background-size: cover
}

.icon-deletar:hover {
    cursor: pointer;
}

#lista_componentes {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#listagem {
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.campo-modal {
    display: flex;
    flex-direction: row;
    width: 322px;
    height: 56px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.25);
}


.campo-modal-componentes {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    height: 4vh;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 22px
}

span, .campo-modal-componentes {
    text-align: center;
}

.campo-modal-configuracao {
    display: flex;
    justify-content: space-between;
    width: 25vw;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 22px
}

span, .campo-modal-configuracao {
    text-align: left;
}

.listagem_cadastro {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    /* border: 1px solid green; */
}
#listagem_configuracoes {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

#listagem_config {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    gap: 6%;
    overflow-y: scroll;
}

.modal-edit-configuracao {
    display: flex;
    justify-self: center;
    align-self: center;
    position: absolute;
    padding: 10px;
    width: 30vw;
    height: 40vh;
    left: 33%;
    bottom: 30%;
    flex-direction: column;
    border-radius: 10px;
    font-size: 24px;
    background-color: white;
    z-index: 40;
    /* border: 1px solid red; */
}

.modal-container-config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
    height: 100%;
}

.add-config {
    width: 25vw;
    justify-content: center;
    align-items: center;
    font-size: 30px
}

.add-config:hover{
    cursor: pointer;
}

.modal-cad-configuracao {
    display: flex;
    justify-self: center;
    align-self: center;
    position: absolute;
    padding: 48px;
    left: 30%;
    bottom: 20%;
    width: 30vw;
    height: 45vh;
    flex-direction: column;
    border-radius: 10px;
    font-size: 24px;
    background-color: white;
    z-index: 40;
}

.botao-cadastrar-componente {
    text-align: center;
    justify-content: center;
}

.botao-cadastrar-componente:hover {
    cursor: pointer;
}

.modal-cad-componente {
    display: flex;
    justify-self: center;
    align-self: center;
    position: absolute;
    padding: 48px;
    left: 30%;
    width: 40vw;
    height: 70vh;
    flex-direction: column;
    border-radius: 10px;
    font-size: 24px;
    background-color: white;
    z-index: 30;
}

.modal-del-atm {
    display: flex;
    justify-self: center;
    align-self: center;
    position: absolute;
    padding: 48px;
    width: 40%;
    height: 50%;
    left: 25%;
    bottom: 23%;
    flex-direction: column;
    border-radius: 10px;
    font-size: 24px;
    background-color: white;
    z-index: 50;
}

.listagem_delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5vh ;
}

.modal-container-delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
    height: 100%;
}

#button_remover_atm {
    align-items: center;
    justify-content: center;
    align-self: center;
}

.input-delete {
    width: 50%;
    align-self: center;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 1%;
}

.modal-del-config {
    display: flex;
    justify-self: center;
    align-self: center;
    position: absolute;
    padding: 48px;
    left: 30%;
    bottom: 24%;
    width: 35vw;
    height: 55vh;
    flex-direction: column;
    border-radius: 10px;
    font-size: 24px;
    background-color: white;
    z-index: 50;
}


#button_remover_config {
    align-items: center;
    justify-content: center;
    align-self: center;
}

/*
Funcionario
*/

.modal-funcionario, .modal-edit-funcionario {
    display: flex;
    /* border: 1px solid red; */
    justify-self: center;
    justify-content: space-around;
    align-self: center;
    position: fixed;
    top: 50%;
    left: 50%; /* deixa o canto superior esquerdo no meio*/
    transform: translate(-50%, -50%); /* move metade da largura e altura para "trás", deixando no meio*/
    padding: 12px;
    width: 45vw;
    height: 75vh;
    flex-direction: column;
    border-radius: 10px;
    font-size: 24px;
    background-color: white;
    z-index: 20;
}

.modal-del-funcionario {
    display: flex;
    /* border: 1px solid red; */
    justify-self: center;
    justify-content: space-around;
    align-self: center;
    position: fixed;
    top: 50%;
    left: 50%; /* deixa o canto superior esquerdo no meio*/
    transform: translate(-50%, -50%); /* move metade da largura e altura para "trás", deixando no meio*/
    padding: 12px;
    width: 38vw;
    height: 45vh;
    flex-direction: column;
    border-radius: 10px;
    font-size: 24px;
    background-color: white;
    z-index: 20;
}

.modal-row{
    display: flex;
    flex-direction: row;
}

.modal-fechar {
    display: flex;
    flex-direction: row-reverse;
}

.modal-fechar span {
    cursor: pointer;
    font-weight: bolder;
}


.modal-fechar img{
    height: 32px;
    cursor: pointer;
}

.modal-container-funcionario {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 60vh;
    width: 50%;
    /* border: 1px solid red; */
}


.modal-infos-funcionario {
    display: flex;
    flex-direction: column;
}

.modal-infos-funcionario span{
    font-size: 18px;
    font-weight: bold;
}

.modal-infos-funcionario input {
    width: 100%;
    height: 45px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal-botao-funcionario {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7vh;
    border-radius: 10px;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    /* border: 1px solid red; */
    cursor: pointer;
}


.foto-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7vh;
    border-radius: 10px;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    /* border: 1px solid red; */
    cursor: pointer;
}

.foto-botao button{
    width: 40%;
    height: 7vh;
    border-radius: 10px;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: #D9D9D9;
    /* border: 1px solid red; */
    cursor: pointer;
}

.modal-infos-funcionario select {
    width: 100%;
    height: 45px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.25);
}

#fade1 {
    z-index: 10;
}

#fade2 {
    z-index: 21;
}

.modal-container-imagem{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 50%;
    /* border: 1px solid red; */
}


.modal-foto-funcionario {
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 68%;
    font-weight: bold;
    /* border: 1px solid red; */
    flex-direction: column;
    align-items: center;
}

.foto-modal-funcionario {
    width: 80%;
    height: 80%;
    font-size: 18px;
    border-radius: 100px;
    /* border: 1px solid blue; */
    background-color: rgba(0, 0, 0, 0.25);
}

.foto-botao-funcionario {
    display: inline-block;
    width: 40%;
    height: 7vh;
    border-radius: 10px;
    background-color: #D9D9D9;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 7vh;
    cursor: pointer;
    border: none;
}

/* .modal-botao-funcionario button{
    width: 30%;
    height: 7vh;
    border-radius: 10px;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: #D9D9D9;
    border: 1px solid red;
    cursor: pointer;
} */