@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

*{
    font-family: "Arial";
}
body{
    background-image: url("../assets/servicos.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Titulos */
.principal{
    display: flex;
    flex-direction: row; /*ISSO QUE DEIXOU A IMAGEM AO LADO*/
    justify-content: space-evenly;
    margin-top: 15px;
    color: #5296CD;
}

.cadastro{
    border-radius:50px ;
    width: 450px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;  
    border-width: 1px;
    height: 600px;

}

.imagem {
    width: 70%;
    height: 90%;
    border-radius: 20px;
    background-image: url("../assets/cadastroimagem.png");
}


/* Inpusts de cadastro */
.cadastro p{
    font-weight: 700;
    text-align: center;
    color: #fff;
}

/* Deixa com forma as inputs */
.inputCadastro{
    width: 80%;
    height: 26px;
    border-radius: 8px;
    border-width: 1px;
    padding: 3px;
}

/* Botoes de cadastro e login */
button{
    width: 80%;
    height: 30px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #5296CD;
    font-size: 17px;
}

.imagem {
    display: flex;
    height: 500px;
    width: 450px;
    justify-content: space-evenly;
    flex-direction: row;

}

