@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    font-family: "Inter", sans-serif;
}

body{
    background-color: #171D20;
}

a{
    text-decoration: none;
}

.nav-total {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 11vh;
}

.info-user{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    height: 11vh;
    /* border: 1px solid red; */
}

.foto-user{
    background-color: #2A5277;
    height: 75px;
    width: 75px;
    border-radius: 70px;
}

.msg-user{
    display: flex;
    font-family: "Inter", sans-serif;
    height: 50px;
    width: 80px;
    font-size: 22px;
    color: #FFFFFF;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70vw;
    height: 6vh;
    background-color: rgba(83, 83, 83, 0.39);
    border-radius: 50px;
    align-items: center;
}

.nav-bar span{
    color: #FFFFFF;
    font-size: 15px;
}

.btn-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 6vw;
    height: 6vh;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #2A5277;
    cursor: pointer;
}

.painel{
    display: flex;
    align-items: center;
    height: 85vh;
    /* border: 1px solid red; */

}

.kpis{
    display: flex;
    height: 80vh;
    width: 20vw;
    /* border: 1px solid red; */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.escolha-opcoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 18vw;
    height: 80vh;
    /* border: 1px solid red; */
    background-color: rgba(83, 83, 83, 0.39);
    border-radius: 10px;
}

.escolha-atm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 13%;
    width: 80%;
    /* border: 1px solid red; */
}

.escolha-atm select{
    cursor: pointer;
    width: 80%;
    border: none;
    text-align: center;
    border-radius: 5px;
    padding: 2px;
}


.escolha-componentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 13%;
    width: 100%;
    /* border: 1px solid red; */
}

.escolha-componentes span{
    text-align: center;
    cursor: pointer;
}

.escolha-componentes select{
    text-align: center;
    cursor: pointer;
    width: 70%;
    border: none;
    border-radius: 5px;
    padding: 2px;
}


.escolha-metricas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 13%;
    width: 100%;
    /* border: 1px solid red; */
}

.escolha-metricas span{
    text-align: center;
    cursor: pointer;
}

.escolha-metricas select{
    text-align: center;
    cursor: pointer;
    width: 70%;
    border: none;
    border-radius: 5px;
    padding: 2px;
}


.escolha-datas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 13%;
    width: 100%;
    /* border: 1px solid red; */
}

.escolha-datas span{
    cursor: pointer;
    text-align: center;
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 35%;
    /* border: 1px solid red; */
}
.botoes button{
    text-align: center;
    cursor: pointer;
    width: 40%;
    border: none;
    border-radius: 5px;
    padding: 2px;
    border: none;
}

.gerar-grafico{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 7%;
    /* border: 1px solid red; */
}

.gerar-grafico button{
    width: 50%;
    border-radius: 5px;
    padding: 2px;
    background-color: #2A5277;
    border: none;
    color: white;
    cursor: pointer;
}

.linha {
    width: 100%;
    height: 0.5px; /* menor que 1px */
    background-color: white;
}

.alertas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 17%;
    width: 100%;
    /* border: 1px solid red; */
}

.alertas span{
    cursor: pointer;
    text-align: center;
}

.alertas button{
    width: 50%;
    height: 40%;
    border-radius: 5px;
    padding: 2px;
    background-color: #2A5277;
    border: none;
    color: white;
    cursor: pointer;
}

.kpi-prazo{
    display: flex;
    align-items: center;
    width: 95%;
    height: 15%;
    /* border: 1px solid red; */
    justify-content: space-between;
}

.organizar{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 100%;
    /* border: 1px solid orange; */
}

.kpi-1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    color: white;
    background-color: rgb(99, 30, 30);
    border-radius: 10px;
}

.kpi-2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 100%;
    color: white;
    background-color: rgb(99, 30, 30);
    border-radius: 10px;
}

.kpi-3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 100%;
    color: white;
    background-color: rgb(99, 30, 30);
    border-radius: 10px;
}

.fundo{
    display: flex;
    width: 95%;
    height: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* border: 1px solid orange; */
    background-color: rgba(83, 83, 83, 0.39);
}

.fundo-grafico{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 95%;
    height: 90%;
    /* border: 1px solid orange; */
    background-color: white;
    border-radius: 10px;
}

.legenda{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 13%;
    border-radius: 20px;
    align-items: center;
    /* border: 1px solid red; */
    color: white;
    background-color: rgba(46, 50, 52, 1);
}

.bolinhas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 40%;
    /* border: 1px solid red; */
}

.legenda-titulo{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    height: 80%;
    width: 50%;
    font-size: 15px;
    /* border: 1px solid red; */
}

.red{
    height: 30%;
    width: 40%;
    background-color: red;
    border-radius: 25%;
}

.roxo{
    height: 30%;
    width: 40%;
    background-color: rgba(141, 52, 249, 1);
    border-radius: 25%;
}

.titulo-grafico{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 15%;
    /* border: 1px solid rgb(106, 255, 0); */
}

#grafico {
    display: flex;
    width: 95%;
    height: 70%;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
}

.graficos-style {
    width: 100% !important;
    height: 100% !important;
}



.organizar-compontentes{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
    /* border: 1px solid orange; */
}


.organizar-compontentes span{
    font-size: 22px;
    color: white;
}


.organizar-compontentes .fundo{
    display: flex;
    width: 95%;
    height: 95%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* border: 1px solid orange; */
    background-color: rgba(83, 83, 83, 0.39);
}


.cpu{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 95%;
    border-right: 1px solid white;
    /* border: 1px solid red; */
}

.kpi-cpu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 90%;
    /* border: 1px solid red; */
}


.kpi-porcentagem{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    width: 100%;
    height: 50%;
    /* border: 1px solid red; */
}

.kpi-porcentagem span{
    font-size: 20px;
}

.kpi-porcentagem div{
    display: flex;
    width: 75%;
    height: 82%;
    /* border: 1px solid red; */
    background-color: #5b1919ba;
    border-radius: 100px;
}

.bola {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 54px;
}


#cpu-porcentagem{
    font-size: 40px;
}

.kpi-disponivel{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    width: 100%;
    height: 50%;
    /* border: 1px solid red; */
}

.kpi-disponivel span{
    font-size: 20px;
}

.kpi-disponivel div{
    width: 75%;
    height: 82%;
    /* border: 1px solid red; */
    background-color: #5b1919ba;
    border-radius: 100px;
}

.ram{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 95%;
    border-right: 1px solid white;
    /* border: 1px solid red; */
}

.kpi-ram{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 90%;
    /* border: 1px solid red; */
}


.kpi-porcentagem{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    width: 100%;
    height: 50%;
    /* border: 1px solid red; */
}

.kpi-porcentagem span{
    font-size: 20px;
}

.kpi-porcentagem div{
    width: 75%;
    height: 82%;
    /* border: 1px solid red; */
    background-color: #5b1919ba;
    border-radius: 100px;
}

.kpi-disponivel{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    width: 100%;
    height: 50%;
    /* border: 1px solid red; */
}

.kpi-disponivel span{
    font-size: 20px;
}

.kpi-disponivel div{
    width: 75%;
    height: 82%;
    /* border: 1px solid red; */
    background-color: #5b1919ba;
    border-radius: 100px;
}


.disco{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 95%;
    border-right: 1px solid white;
    /* border: 1px solid red; */
}

.kpi-disco{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 90%;
    /* border: 1px solid red; */
}


.kpi-porcentagem{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    width: 100%;
    height: 50%;
    /* border: 1px solid red; */
}

.kpi-porcentagem span{
    font-size: 20px;
}

.kpi-porcentagem div{
    width: 75%;
    height: 82%;
    /* border: 1px solid red; */
    background-color: #5b1919ba;
    border-radius: 100px;
}

.kpi-disponivel{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    width: 100%;
    height: 50%;
    /* border: 1px solid red; */
}

.kpi-disponivel span{
    font-size: 20px;
}

.kpi-disponivel div{
    width: 75%;
    height: 82%;
    /* border: 1px solid red; */
    background-color: #5b1919ba;
    border-radius: 100px;
}

.pacotes{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 95%;
    /* border: 1px solid red; */
}

.kpi-pacotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 90%;
    /* border: 1px solid red; */
}


.kpi-porcentagem{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    width: 100%;
    height: 50%;
    /* border: 1px solid red; */
}

.kpi-porcentagem span{
    font-size: 20px;
}

.kpi-porcentagem div{
    width: 75%;
    height: 82%;
    /* border: 1px solid red; */
    background-color: #5b1919ba;
    border-radius: 100px;
}

.kpi-disponivel{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    width: 100%;
    height: 50%;
    /* border: 1px solid red; */
}

.kpi-disponivel span{
    font-size: 20px;
}

.kpi-disponivel div{
    width: 75%;
    height: 82%;
    /* border: 1px solid red; */
    background-color: #5b1919ba;
    border-radius: 100px;
}