@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(52, 52, 52);
}

main {
    width: 97%;
    height: 97%;

    header {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;


        #user {

            div {

                display: flex;
                justify-content: center;
                align-items: center;

                #imgUser {
                    height: 100px;
                    width: 100px;
                    background-color: white;
                    border-radius: 50px;
                    margin-right: 10px;
                }

                font-size: 30px;
            }
        }

        #navbar {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            list-style: none;
            width: 68%;
            font-weight: bold;
            font-size: 20px;
            background-color: rgb(34, 34, 34);
            box-shadow: 1px 5px black;
            border-radius: 43px;
            height: 50px;
            color: white;
        }

        #logout {

            button {
                width: 50px;
                height: 50px;
                border-radius: 10px;
                background-color: transparent;
                font-size: 20px;
                border: none;
                color: white;
                font-weight: bold;
                margin-right: 20px;

            }

            button:hover {
                cursor: pointer;
            }
        }

        
    }

    #dashboard {

        width: 100%;
        height: 85%;
        display: flex;
        justify-content: space-between;
        margin: 0px 10px;
        border: 2px solid red;

        #listaATM {
            color: white;
            background-color: rgb(34, 34, 34);
            border-radius: 10px;
            width: 18%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            #menuATM {
                list-style: none;
                height: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
                overflow: auto;

                li {
                    
                    width: 90%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin: 10px;

                    .status {
                        width: 50px;
                        height: 50px;
                        background-color: green;
                        border-radius: 10px;
                        border: none;
                    }

                    button {
                        width: auto;
                        height: auto;
                        border-radius: 10px;
                        background-color: transparent;
                        border: none;
                        color: white;
                        font-weight: bold;
                        padding: 5%;
                    }

                    button:hover {
                        cursor: pointer;
                    }
                }
            }

            h3{
                margin-top: 10px;
            }
        }

        .kpi{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: #5296CD;
        }
        
        #quadros {

            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 2px solid red;

            #visualizacao {

                width: 100%;
                height: 100%;
                background-color: rgb(34, 34, 34);
                border-radius: 10px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                #graficos {
                    width: 70%;
                    height: 95%;
                    background-color: white;
                    border-radius: 10px;
                    display: flex;


                    h3 {
                        margin: 10px;
                    }

                    #chartGeral {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;

                        #myChart {
                            width: 95% !important;
                            height: 90%;
                        }
                    }

                    #chartEspecifico {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;

                        #myChart2 {
                            width: 95% !important;
                            height: 90%;
                        }
                    }
                }

                #interacao {

                    width: 25%;
                    height: 95%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    #alertas {
                    
                        background-color: white;
                        width: 100%;
                        height: 90%;
                        overflow: auto;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;

                        h3 {
                            margin: 10px;
                        }

                        .cardAlerta {
                            border-radius: 10px;
                            display: flex;
                            width: 60%;
                            height: 10%;
                            align-items: center;
                            justify-content: space-evenly;
                            border: 3px solid;

                            .alertStatus {
                                width: 20px;
                                height: 20px;
                                background-color: green;
                                border-radius: 5px;
                            }
                        }
                    }

                    button {
                        width: 100%;
                        height: 8%;
                        border-radius: 10px;
                        background-color: transparent;
                        background-color: #5296CD;
                        border: none;
                        color: white;
                        font-weight: bold;
                    }

                    button:hover {
                        cursor: pointer;
                    }
                }

            }

        }
    }
}
