@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    font-family: "Inter", sans-serif;
}

body{
    background-color: #171D20;
}

a{
    text-decoration: none;
}

.nav-total {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 11vh;
}

.info-user{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    height: 11vh;
    /* border: 1px solid red; */
}

.foto-user{
    display: none;
    background-color: #2A5277;
    height: 75px;
    width: 75px;
    border-radius: 70px;
}

.msg-user{
    display: flex;
    font-family: "Inter", sans-serif;
    height: 50px;
    width: 100px;
    font-size: 18px;
    color: #FFFFFF;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 70vw;
    height: 6vh;
    background-color: rgba(83, 83, 83, 0.39);
    border-radius: 50px;
    align-items: center;
}

.nav-bar a{
    color: #FFFFFF;
    font-size: 15px;
    margin-right: 45%;
    /* border: 1px solid red; */
}

.btn-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 6vw;
    height: 6vh;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #2A5277;
    cursor: pointer;
}

.painel{
    display: flex;
    align-items: center;
    height: 85vh;
    justify-content: center;
    /* border: 1px solid red; */
}

.painel2{
    display: flex;
    align-items: center;
    height: 85vh;
    /* border: 1px solid red; */
}

.fundoGrafico {
    width: 100%;
    height: 100%;
}

.kpis-filtrado {
    display: flex;
    height: 80vh;
    width: 65vw;
    /* border: 1px solid red; */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.kpis2{
    display: flex;
    height: 80vh;
    width: 20vw;
    /* border: 1px solid red; */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.kpis2 span, select{
    font-size: 15px;

}

.escolha-opcoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85vh;
    /* border: 1px solid red; */
    background-color: rgba(83, 83, 83, 0.39);
    border-radius: 10px;
    font-size: 20px;
}

.escolha-opcoes select{
    font-size: 12px;
}

.escolha-filtro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 10%;
    width: 80%;
    /* border: 1px solid red; */
}

.escolha-filtro select{
    cursor: pointer;
    width: 75%;
    border: none;
    text-align: center;
    border-radius: 5px;
    padding: 7px;
}

.escolha-atm{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: fit-content;
    width: 80%;
    gap: 1vh;
    /* border: 1px solid red; */
}

.escolha-atm select{
    cursor: pointer;
    width: 75%;
    border: none;
    text-align: center;
    border-radius: 5px;
    padding: 7px;
}

.escolha-atm input{
    width: 70%;
    border: none;
    border-radius: 5px;
    padding: 7px;
}

.escolha-componentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 13%;
    width: 100%;
    /* border: 1px solid red; */
}

.escolha-componentes span{
    text-align: center;
    cursor: pointer;
}

.escolha-componentes select{
    text-align: center;
    cursor: pointer;
    width: 60%;
    border: none;
    border-radius: 5px;
    padding: 7px;
}


.escolha-metricas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 10%;
    width: 100%;
}

.escolha-metricas span{
    text-align: center;
    cursor: pointer;
}

.escolha-metricas select{
    text-align: center;
    cursor: pointer;
    width: 11vw;
    border: none;
    border-radius: 5px;
    padding: 7px;
}

.escolha-metricas input{
    text-align: center;
    cursor: pointer;
    width: 11vw;
    border: none;
    border-radius: 5px;
    padding: 7px;
}

.escolha-datas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 10%;
    width: 100%;
    /* border: 1px solid red; */
}

.escolha-datas span{
    cursor: pointer;
    text-align: center;
}

.escolha-datas select{
    text-align: center;
    cursor: pointer;
    width: 60%;
    border: none;
    border-radius: 5px;
    padding: 7px;
}

.escolha-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 10%;
    width: 100%;
    /* border: 1px solid red; */
}

.escolha-data span{
    cursor: pointer;
    text-align: center;
}

.escolha-data input{
    text-align: center;
    cursor: pointer;
    width: 60%;
    border: none;
    border-radius: 5px;
    padding: 7px;
}

.escolha-horario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 10%;
    width: 100%;
    /* border: 1px solid red; */
}

.escolha-horario span{
    cursor: pointer;
    text-align: center;
}

.escolha-horario input{
    text-align: center;
    cursor: pointer;
    width: 45%;
    border: none;
    border-radius: 5px;
    padding: 7px;
}

.gerar-grafico{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    height: 7%;
    /* border: 1px solid red; */
}

.gerar-grafico button{
    width: 60%;
    border-radius: 5px;
    padding: 2px;
    background-color: #2A5277;
    border: none;
    color: white;
    cursor: pointer;
}

.div_alerta{
    display: flex;
    justify-content: space-around;
    width: 30%;
    font-weight: bold; 
    /* border: 1px solid red; */
}

#periodo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: fit-content;
    width: 100%;
}

.alerta_perido_button{
    width: 40%;
    height: 50%;
    border-radius: 5px;
    padding: 2px;
    background-color: #2A5277;
    border: none;
    color: white;
    cursor: pointer;
}

.linha {
    width: 100%;
    height: 0.5px; /* menor que 1px */
    background-color: white;
}

.linha-listagem {
    width: 90%;
    height: 0.5px; /* menor que 1px */
    background-color: white;
}

.alertas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 20%;
    width: 100%;
    /* border: 1px solid red; */
}

.alertas span{
    cursor: pointer;
    text-align: center;
}

.alertas button{
    width: 80%;
    height: 40%;
    border-radius: 5px;
    padding: 2px;
    background-color: #2A5277;
    border: none;
    color: white;
    cursor: pointer;
}

.kpi-prazo{
    display: flex;
    align-items: center;
    width: 95%;
    height: 15vh;
    /* border: 1px solid red; */
    justify-content: space-between;
}

.kpi-prazo-filtrado {
    display: flex;
    align-items: center;
    width: 95%;
    height: 15vh;
    /* border: 1px solid red; */
    justify-content: space-between;
}

.organizar{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
    width: 100%;
    height: 80%;
    padding-bottom: 1.5%;
    justify-content: flex-end;
    /* border: 1px solid orange; */
}

.organizar-filtrado {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
    width: 100%;
    height: 80%;
    padding-bottom: 1.5%;
    justify-content: flex-end;
    /* border: 1px solid orange; */
}

.kpi{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    border-radius: 10px;
}

.kpi-1-filtrado {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
    border-radius: 10px;
}


.kpi-2-filtrado{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 45%;
    height: 100%;
    border-radius: 10px;
}

.fundo{
    display: flex;
    width: 95%;
    height: 95%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* border: 1px solid orange; */
    background-color: #3C3F40;
}

.paginacao {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3C3F40;
    border-radius: 10px;
}

.paginacao-filtrado {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3C3F40;
    border-radius: 10px;
}

.fundo-filtrado {
    display: flex;
    width: 95%;
    height: 90%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* border: 1px solid orange; */
    background-color: #3C3F40;
    padding-top: 1%;
    padding-bottom: 1%;
}

.fundo-grafico {
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: space-evenly;
    flex-direction: column;
    width: 95%;
    height: 95%;
    background-color: white;
    border-radius: 10px;
    gap: 1%;
}

.icone-retorno {
    color:#ffffff;
    font-size: 1.8rem;
    height: fit-content;
}

.icone-retorno:hover {
    cursor: pointer;
    color: #2a5277;
}

.div-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}
.icone_search {
    color: #FFFFFF;
    font-size: 1.8rem;
}

.icone_search:hover {
    cursor: pointer;
    color: #2a5277;

}

.icone-ida {
    color:#ffffff;
    font-size: 1.8rem;
    height: fit-content;
    transform: scaleX(-1);
}

.icone-ida:hover {
    cursor: pointer;
    color: #2a5277;
}

.fundo-grafico-filtrado {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 90%;
    height: 90%;
    /* border: 1px solid orange; */
    background-color: white;
    border-radius: 10px;
}

.legenda{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 13%;
    border-radius: 20px;
    align-items: center;
    /* border: 1px solid red; */
    color: white;
    background-color: rgba(46, 50, 52, 1);
}

.bolinhas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 40%;
    /* border: 1px solid red; */
}

.legenda-titulo{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    height: 80%;
    width: 50%;
    font-size: 15px;
    /* border: 1px solid red; */
}

.red{
    height: 30%;
    width: 40%;
    background-color: red;
    border-radius: 25%;
}

.roxo{
    height: 30%;
    width: 40%;
    background-color: rgba(141, 52, 249, 1);
    border-radius: 25%;
}

.titulo-grafico{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 15%;
    /* border: 1px solid rgb(106, 255, 0); */
}

.titulo-grafico-filtrado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: fit-content;
}

.grafico {
    display: flex;
    width: 95%;
    height: 70%;
    align-items: center;
    justify-content: center;
}

#grafico-filtrado {
    display: flex;
    width: 95%;
    height: 70%;
    align-items: center;
    justify-content: flex-start;
}

#total_filtrado {
    font-size: 6vh;
}

#total_criticos {
    font-size: 6vh;
}

.graficos-style {
    width: 100% !important;
    height: 100% !important;
}


.button-listagem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: blue;
    color: #FFFFFF;
    font-size: 1.5vh;
    justify-self: center;
    padding: 1.2%;
    border-radius: 5%;
}

.button-listagem:hover {
    cursor: pointer;
    background-color: #6b6bff;
    color: #000000
}

.graficos-style-geral {
    height: 100% !important;
}

.escolha{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
    /* border: 1px solid orange; */
}

.organizar-compontentes-semana{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 100%;
    /* border: 1px solid orange; */
}

.organizar-compontentes-mes{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 100%;
    /* border: 1px solid orange; */
}


.organizar-compontentes-semana span{
    font-size: 22px;
    color: white;
}

.organizar-compontentes-mes span{
    font-size: 22px;
    color: white;
}


.organizar-compontentes-semana .fundo{
    display: flex;
    width: 95%;
    height: 95%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* border: 1px solid orange; */
    background-color: rgba(83, 83, 83, 0.39);
}

.kpi_filtrado {
    font-size: 4vh;
}

.organizar-compontentes-mes .fundo{
    display: flex;
    width: 95%;
    height: 95%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* border: 1px solid orange; */
    background-color: rgba(83, 83, 83, 0.39);
}

.mostrar{
    display: none;
}


.dash-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 100%;
}

.dash-filtrada {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 85%;
    height: 100%;
}

.kpis {
    font-size: 16px;
    width: 95%;
    justify-content: center;
}

.dash-organizacao {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    align-items: center;
}

.mensagem {
    font-size: 0.5vw;
}

.horarios {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    width: 90%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh;
}

.cabecalho-listagem, .texto-listagem {
    color: #FFFFFF;
    font-size: 1.8vh;
    width: 100%;
}

.descricao-listagem {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5%;
}

.dados-listagem {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#listagem {
    background-color: rgba(83, 83, 83, 0.39);
    border-radius: 10px;
    width: 20%;
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1%;
}

.kpi-filtrado-titulo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    border-radius: 10px;
}

@media (max-width: 1030px) {

    .mostrar{
        display: flex;
    }
    
    .info-user{
        width: 18vw;
    }

    .kpi-1 span{
        font-size: 18px;
    }

    .kpi-2 span{
        font-size: 18px;
    }

    .kpi-3 span{
        font-size: 18px;
    }

    .nav-bar a{
        display: flex;
        color: #FFFFFF;
        font-size: 18px;
        margin: 0;
    }



    .nav-bar{
        width: 50vw;
        justify-content: center;
    }


    .escolha-opcoes{
        font-size: 18px;
    }

    .escolha-opcoes select{
        padding: 10px;
    }

    .div_alerta{
        width: 60vw;
    }

    .organizar-compontentes-semana{
        width: 100vw;
        font-size: 22px;

    }

    
    .organizar-compontentes-semana span{
        font-size: 22px;

    }


    .organizar-compontentes-mes{
        width: 100vw;
        font-size: 22px;

    }

    .organizar-compontentes-mes span{
        font-size: 22px;

    }

    .organizar{
        width: 100vw;
        height: 90%;
    }

}

@media (max-width: 770px) {

    .gerar-grafico button{
        font-size: 18px;
    }

    .alertas button{
        font-size: 18px;
    }

    .kpis{
        width: 70vw;
    }

    .mostrar{
        display: flex;
    }

    .btn-nav{
        width: 10vw;
    }

    .info-user{
        width: 22vw;
    }

    .kpi-1 span{
        font-size: 18px;
    }

    .kpi-2 span{
        font-size: 18px;
    }

    .kpi-3 span{
        font-size: 18px;
    }

    .nav-bar{
        width: 40vw;
    }

    .nav-bar a{
        color: #FFFFFF;
        font-size: 25px;
    }

    .escolha-opcoes{
        font-size: 25px;
    }

    .escolha-opcoes select{
        padding: 14px;
        font-size: 18px;
    }

    .div_alerta{
        width: 60vw;
    }

    .organizar-compontentes-semana{
        width: 100vw;
        font-size: 25px;

    }

    
    .organizar-compontentes-semana span{
        font-size: 25px;

    }


    .organizar-compontentes-mes{
        width: 100vw;
        font-size: 25px;

    }

    .organizar-compontentes-mes span{
        font-size: 25px;

    }

    .organizar{
        width: 100vw;
    }
}

@media (max-width: 380px){

    .nav-total{
        justify-content: space-around;
    }

    .nav-total button{
        width: 15vw;
    }

    .info-user{
        display: none;
    }

    .kpi-1 span{
        font-size: 10px;
    }

    .kpi-2 span{
        font-size: 10px;
    }

    .kpi-3 span{
        font-size: 10px;
    }

    /* .btn-nav{
        width: 10vw;
    } */

    .escolha-opcoes{
        font-size: 15px;
    }

    .escolha-opcoes select{
        padding: 5px;
        font-size: 12px;
    }

    .escolha-opcoes button{
        font-size: 12px;
    }

    .nav-bar a{
        color: #FFFFFF;
        font-size: 15px;
    }

    .div_alerta{
        width: 60vw;
    }

    .organizar-compontentes-semana{
        width: 100vw;
        font-size: 15px;

    }

    
    .organizar-compontentes-semana span{
        font-size: 15px;

    }


    .organizar-compontentes-mes{
        width: 100vw;
        font-size: 15px;

    }

    .organizar-compontentes-mes span{
        font-size: 15px;

    }

    .organizar{
        width: 100vw;
    }
}

@media (max-width: 800px) {

    .nav-total {
        justify-content: space-between;
    }
    
    .fundo-filtrado {
        width: 97%;
        justify-self: flex-end;
        align-self: flex-end;
    }

    .paginacao-filtrado {
        width: 60%;
    }

    
    .graficos-style-geral {
        height: 70% !important;
    }

    .fundo-grafico-filtrado {
        width: 95%;
    }

    .kpi-prazo-filtrado { 
        width: 60vw;
        justify-self: center;
        align-self: center;
        justify-content: space-between;
    }

    .kpis-filtrado {
        justify-content: space-around;
    }

    .foto-user {
        height: 7vw;
        width: 7vw;
    }

    .msg-user {
        font-size: 2vw;
    }

    .nav-bar a {
        font-size: 1.5vw;
    }

    .escolha-filtro select {
        width: 12vw;
        font-size: 1vw;
    }

    .escolha-atm {
        font-size: 0.5vw;
        height: fit-content;
        gap: 10px;
    }

    #ipt_pesquisa {
        width: 10vw;
    }

    #select_atm {
        width: 12vw;
        font-size: 1vw;
    }

    .escolha-componentes {
        font-size: 0.5vw;
        height: fit-content;
    }

    #select_componentes {
        width: 12vw;
        font-size: 1vw;
    }

    .escolha-metricas {
        font-size: 0.5vw;
    }

    #select_metricas {
        width: 12vw;
        font-size: 1vw;
    }

    .escolha-datas {
        font-size: 0.5vw;
    }

    #slt_intervalo {
        width: 12vw;
        font-size: 1vw;
    }

    .escolha-data {
        font-size: 0.5vw;
    }

    #ipt_dia {
        width: 10vw;
    }

    .linha {
        display: none;
    }

    .escolha-opcoes {
        justify-content: space-around;
        width: 20vw;
    }

    .kpis2 {
        height: 90vh;
    }

    .kpis2 span, select {
        font-size: 1.5vw;
    }

    .gerar-grafico button {
        width: 100%;
        font-size: 1.5vw;
    }

    #ipt_dia {
        width: 10vw;
        font-size: 1vw;
    }

    .horarios {
        flex-direction: column;
        align-items: center;
    }

    .escolha-horario {
        height: fit-content;
    }

    .horarios input {
        width: 10vw;
        height: fit-content;
        font-size: 1vw;
    }

    .escolha-metricas select {
        width: 12vw;
        font-size: 1vw;
    }

    .horarios {
        gap: 10px;
    }

    #total_filtrado, #total_criticos {
        font-size: 5vh;
    }

    .button-listagem {
        margin-top: 4%;
        width: 40%;
    }

    .cabecalho-listagem {
        color: #FFFFFF;
        font-size: 2vh;
    }

    .btn-nav {
        font-size: 1.5vw;
    }

    #listagem {
        width: 20vw;
    }

    #ipt_de, #segundaInputData input {
        width: 10vw;
        font-size: 1vw;
    }

    .dash-organizacao {
        width: 75%;
    }

    .texto-listagem {
        width: 18vw;
    }

    .paginacao {
        width: 95%;
    }  

    .organizar-filtrado {
        align-items: flex-end;
        width: 100%;
    }

    .kpi_filtrado {
        font-size: 4vh;
    }

    .kpi-filtrado-titulo {
        font-size: 1.5vw;
    }

    .legenda {
        width: 20%;
    }

    .legenda-titulo {
        font-size: 1.5vh;
    }
}