@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(52, 52, 52);
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.nav-total {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 11vh;
}

.info-user{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    height: 11vh;
    /* border: 1px solid red; */
}

.foto-user{
    background-color: #2A5277;
    height: 65px;
    width: 65px;
    border-radius: 70px;
}

.msg-user{
    display: flex;
    font-family: "Inter", sans-serif;
    height: 50px;
    width: 80px;
    font-size: 22px;
    color: #FFFFFF;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70vw;
    height: 6vh;
    background-color: rgba(83, 83, 83, 0.39);
    border-radius: 50px;
    align-items: center;
}

.nav-bar span{
    color: #FFFFFF;
    font-size: 15px;
}

.btn-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 6vw;
    height: 6vh;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #2A5277;
    cursor: pointer;
}

.container{
    height: 87vh;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#listaATM {
    color: white;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#menuATM {
    list-style: none;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    overflow: auto;
}

#menuATM li {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

#menuATM li .status {
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 10px;
    border: none;
}

#menuATM li button {
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    padding: 5%;
}

#menuATM li button:hover {
    cursor: pointer;
}

#listaATM h3 {
    margin-top: 10px;
}

.kpi-wrappers{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.kpis{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 10px;
}

.kpi{
    background-color: aliceblue;
    height: 100px;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}

.kpi p{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

 #critico{
    background: rgba(226, 76, 76, 0.39);
}

#medio{
    background: rgba(221, 219, 92, 0.39);
}

#bom{
    background: rgba(120, 221, 92, 0.39);
}

.grafico-wrapper{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    margin: 15px;
    height: 100%;
}

.containergrafico{
    height: 100%;
    width: 95%;
}

.grafico{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95%;
}

.grafico h2{
    font-size: 30px;
    text-align: center;
    color: aliceblue;
    margin: 10px;
    padding: 5px;
}

.grafico .graf{
    background-color: aliceblue;
    width: 95%;
    height: 80%;
    border-radius: 10px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kpilat{
    background-color: aliceblue;
    height: 150px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.kpilat p{
    font-size: 20px;
    text-align: center;
    color: black;
    margin: 10px;
    padding: 5px;
}

.kpilat #dados{
    font-weight: bold;
    font-size: 40px;
    color: rgba(226, 76, 76, 0.39);

}