/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo img {
    height: 80px;  
    width: auto;   
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #32585f;
}


.btn-login {
    padding: 10px 30px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease;
}

.btn-login:hover {
    background-color: #32585f; 
    color: white;
}

.banner {
    background-image: url('../assets/fundo-home.png');
    background-size: cover;
    background-position: center;
    height: 129vh;
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-top: 180px;
}

.texto-banner {
    max-width: 500px;
}

.texto-banner h1 {
    font-size: 64px;
    margin-bottom: 20px;
}

.texto-banner p {
    font-size: 24px;
    line-height: 1.5;
}

.oque-fazemos {
    background-color: #111;
    padding: 30px 30px;
    width: 100%;
    color: white;
    text-align: left;
    box-sizing: border-box;
}

.oque-fazemos h2 {
    font-size: 42px;
    color: white;
}

/* BLOCO MONITORAMENTO */

.monitoramento {
    background-color: white;
    padding: 80px 60px;
}

.container-monitoramento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1200px;   
    margin: 0 auto;   
    padding: 0 20px;   
}

.texto-monitoramento {
    max-width: 500px;
    color: black;
    font-size: 30px;
    line-height: 1.6;
}

.btn-saiba-mais {
    margin-top: 30px;
    padding: 14px 40px;  
    background-color: #111;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;  
    transition: all 0.3s ease;
}

.btn-saiba-mais:hover {
    background-color: #32585f; 
    color: white;
}

.imagem-monitoramento img {
    max-width: 800px;
    width: 100%;
    margin-left: -40px; 
}


/* NOSSOS SERVIÇOS */

.nossos-servicos {
    background-color: #f9f9f9;
    padding: 60px 20px;
    width: 100%;
    box-sizing: border-box;
}

.conteudo-servicos {
    max-width: 1200px;
    margin: 0 auto;
}

.titulo-servicos {
    background-color: #111;
    color: white;
    padding: 30px 60px;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}


.titulo-servicos h2 {
    font-size: 42px;
    font-weight: bold;
}

.titulo-servicos p {
    font-size: 30px;
    color: #ccc;
}

.texto-servicos {
    margin-top: 30px;
    color: #333;
    font-size: 20px;
    line-height: 1.8;
    max-width: 900px;
}

.texto-servicos p {
    margin-bottom: 20px;
}

.texto-servicos strong {
    font-weight: bold;
}

/* CARDS EM GRID - SERVIÇOS */

.servicos-cards {
    background-color: #f9f9f9;
    padding: 80px 20px;
}

.container-servicos-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 100px;
    max-width: 1000px;
    margin: 80px auto;
    padding: 0 20px;
}

.card {
    background-color: #3a3a3a;
    color: white;
    padding: 50px 40px;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    text-align: left;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-style: italic;
}
.card p {
    font-size: 18px;
    line-height: 1.8;
}


.transicao-etapa4 {
    background-color: #161b1d; 
    color: white;
    padding: 30px 60px;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}

.transicao-etapa4 h2 {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.3;
}


.missao-visao-valores {
    background-color: white;
    padding: 80px 20px;
}

.container-mvv {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.card-mvv {
    background-color: #3a3a3a;
    color: white;
    padding: 40px 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: transform 0.3s ease; 
}

.card-mvv:hover {
    transform: translateY(-5px);  
}

.card-mvv h3 {
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.card-mvv p {
    font-size: 20px;
    line-height: 1.7;
}



.footer {
    background-color: #0e0e0e;
    color: white;
    padding: 30px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.logo-footer img {
    height: 50px;
}

.texto-footer {
    flex: 1;
    text-align: center;
    font-size: 16px;
    color: #ccc;
}

.icones-footer a {
    margin-left: 15px;
    display: inline-block;
}

.icones-footer img {
    height: 30px;
    width: 30px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.icones-footer img:hover {
    opacity: 1;
}
