

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgb(52, 52, 52);
    margin: 0;
    padding: 0;
}

.inputLogin, 
.form-control {
    background-color: rgb(86, 86, 86);
    color: white;
    border: 2px solid rgb(34, 34, 34);
    padding-left: 10px;
    border-radius: 8px;
    font-weight: 600;
}

.inputLogin::placeholder,
.form-control::placeholder {
    color: white;
    opacity: 1;
    font-weight: bold;
}

.inputLogin:focus,
.form-control:focus {
    border-color: #5296CD;
    outline: none;
    box-shadow: none;
}

.btn-primary {
    background-color: #5296CD;
    border: none;
}

.btn-primary:hover {
    background-color: #407bb2;
}


.home a {
    color: #5296CD;
    background-color: rgb(86, 86, 86);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.home a img {
    width: 20px;
    margin-right: 7px;
}


@media (max-width: 768px) {
    .imagem {
        display: none;
    }

    h1 {
        font-size: 24px;
    }

    span, p {
        font-size: 14px;
    }
}
