body, html{
    scroll-behavior:smooth;
    scrollbar-width: none; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
}

a {
    text-decoration: none !important;
}

.nome-empresa {
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    color: white;
    /* padding-left: 20px; */
    /* border: 1px solid red; */
}

.nome-empresa img{
    width: 45%;
    height: 100%;
    background-size: cover;
    /* border: 1px solid orange; */
}

.navbar {
    display: flex;
    margin: 0;
    align-items: center; 
    justify-content: space-between; 
    background-color: #000;
    /* padding: 0 20px; */
    height: 10%;
    width: 100%;
    /* position: fixed !important; */
    /* border: 1px solid red; */

}

.links-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
    width: 45%; 
    /* border-radius: 20px; */
    /* box-shadow: 6px 8px 5px rgb(0, 0, 0); */
    /* padding: 5px 20px; */
    height: 100%;
    /* border: 1px solid red; */
}

.links-menu ul {
    font-size: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    padding: 0;
}

.links-menu li {
    padding: 0 10px; 
    margin-top: 1.75%;
}

ul a:hover {
    color: rgb(197, 197, 197);
    font-size: 17px;
}

ul a {
    color: white;
    padding: 5px 20px;
}

.botao-login-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    gap: 5%;
    /* border: 1px solid red; */
}


.tamanho-botao-login{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    && a {
        width: 100%;
        height: 100%;
    }
}
.tamanho-botao-cadastro {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    && a {
        width: 100%;
        height: 100%;
    }
}
/* .botao-login-cadastro a {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.botao-login-cadastro button {
    font-size: 19px;
    background-color: #ffffff;
    color: #254964;
    width: 100%;
    height: 90%;
    border-radius: 7px;
    /* padding: 5px 10px;  */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    font-weight: 1000;
}

.botao-login-cadastro button:hover {
    background-color: #254964;
    color: #fff ;
}
.menu-mobile{
    display: none;
}
.btn-abrir-menu{
    display: none;
}
.overlay-menu {
    display: none;
}

@media  screen and (max-width: 1000px) {
    .navbar {
        display: none;
    }
    .links-menu{
        display: none;
    }

    .botao-login-cadastro{
        display: none;
    }

    .btn-abrir-menu i {
        color: #fff;
        font-size: 45px;
        cursor: pointer;
    }
    .btn-abrir-menu {
        display: block;
    }

    .overlay-menu{
        background-color: #000000b9;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        display: none;
    }

    .menu-mobile.abrir-menu ~ .overlay-menu{
        display: block;
    }
    .menu-mobile.abrir-menu{
        width: 50%;
    }

    .menu-mobile {
        background-color: #2e2c2c;
        display: block;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999;
        width: 0%;
        overflow: hidden;
        transition: .2s;
    }

    .menu-mobile nav ul {
        text-align: right;
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 15px;
    }

    .menu-mobile nav ul li a {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        padding: 20px 8%;
        display: block;
        z-index: 9;
        cursor: pointer;
    }
    .menu-mobile nav ul li a:hover {
        background-color: #ffffff;
        color: #000;
        font-size: 18px;
    }

    .menu-mobile .btn-fechar i {
        color: #fff;
        font-size: 30px;
        cursor: pointer;
    }    
    .menu-mobile .btn-fechar {
        padding: 25px 5%;
    }
}


@media  screen and (max-width: 600px) {
    span {
        font-size: 20px !important;
    }
    p {
        font-size: 15px !important;
    }
}


